<mat-card class="sobre-card">
  <div class="image-container">
    <img src="../../../assets/portrait.png" alt="Foto do Aluno" class="profile-image">
  </div>
  <mat-card-header class="header-center">
    <mat-card-title class="mat-title">{{ aluno.nome }}</mat-card-title>
    <mat-card-subtitle class="mat-subtitle">{{ aluno.curso }}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <h4>Biografia</h4>
    <p>{{ aluno.biografia }}</p>
  </mat-card-content>
</mat-card>
