<div class="features-container">
  <!-- Texto à esquerda do ícone (já implementado) -->
  <div class="feature-item">
    <mat-card class="feature-card">
      <div class="card-content">
        <div class="text-content">
          <mat-card-header>
            <mat-card-title>Interface Intuitiva</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Uma interface amigável que facilita o uso.</p>
          </mat-card-content>
        </div>
        <div class="icon-container">
          <mat-icon class="feature-icon">dashboard</mat-icon>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="feature-item">
    <mat-card class="feature-card">
      <div class="card-content">
        <div class="icon-container">
          <mat-icon class="feature-icon">design_services</mat-icon>
        </div>
        <div class="text-content right-align">
          <mat-card-header>
            <mat-card-title>Design Moderno</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Uma interface que encanta usuários.</p>
          </mat-card-content>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="feature-item">
    <mat-card class="feature-card">
      <div class="card-content">
        <div class="text-content">
          <mat-card-header>
            <mat-card-title>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Alta Qualidade</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>&nbsp;&nbsp;Componentes que otimizam seu projeto.</p>
          </mat-card-content>
        </div>
        <div class="icon-container">
          <mat-icon class="feature-icon">star</mat-icon>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="feature-item">
    <mat-card class="feature-card">
      <div class="card-content">
        <div class="icon-container">
          <mat-icon class="feature-icon">speed</mat-icon>
        </div>
        <div class="text-content right-align">
          <mat-card-header>
            <mat-card-title>Desempenho Eficiente</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Aplicativos que respondem rapidamente.</p>
          </mat-card-content>
        </div>
      </div>
    </mat-card>
  </div>
</div>

